.dropdown {
  position: relative;
  &.open {
    .dropDownTop {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid #000000;
    }
    .bodyWrap {
      display: block;
    }
    .arrow {
      transform: rotate(180deg) scaleX(-1) translateY(-2px);
    }
  }
  .arrow {
    transition: all 0.05s ease;
  }
  .dropDownTop {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
    font-size: 13px;
    column-gap: 10px;
    background-color: #fff;
    max-width: 100%;
    span {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
    }
    .dropDownTopManagement {
      display: flex;
      align-items: center;
      column-gap: 10px;
    }
  }
  .bodyWrap {
    position: absolute;
    width: 100%;
    top: 44px;
    left: 0;
    padding: 1px 7px 1px 0;
    border: 1px solid #000000;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: none;
    background: #fff;
    z-index: 300;
  }
  .body {
    width: 100%;
    max-height: 435px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 9px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #7B7B7B;
    }
    ul {
      display: flex;
      flex-direction: column;
      padding: 10px 0;
    }
    li {
      padding: 10px 20px;
      text-align: start;
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 20px;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
  &.dark {
    color: #fff;
    .dropDownTop, .bodyWrap {
      background-color: #000;
      border: 1px solid #fff;
    }
    .bodyWrap {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    .body {
      li {
        &:hover {
          background-color: #fff;
          color: #000;
        }
      }
    }
  }
  @media (min-width: 768px) {
    .body {
      max-height: 355px;
    }
  }
  @media (min-width: 1024px) {
    .body {
      max-height: 300px;
    }
  }
}