.dropdown {
  position: relative;
  &.open {
    .dropDownTop {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      border: 1px solid #000000;
    }
    .arrow {
      transform: rotate(180deg) scaleX(-1) translateY(-2px);
    }
  }
  .arrow {
    transition: all 0.05s ease;
  }
  .dropDownTop {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #fff;
    border-radius: 8px;
    height: 45px;
    line-height: 45px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    cursor: pointer;
    column-gap: 10px;
    font-size: 13px;
  }
  .body {
    display: flex;
    align-items: center;
    row-gap: 15px;
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    column-gap: 10px;
    z-index: 300;
    .line {
      min-width: 12px;
      height: 1px;
      background-color: #000;
    }
    input {
      background: #EFEFEF;
      height: 45px;
      line-height: 45px;
      border-radius: 8px;
      width: 100%;
      user-select: none;
      padding: 0 15px;
      font-size: 13px;
    }
  }
  &.dark {
    color: #fff;
    .dropDownTop, .body {
      background-color: #000;
      border: 1px solid #fff;
    }
    .body {
      border-top: 1px solid rgba(255, 255, 255, 0.3);
    }
    input {
      background-color: #fff;
      color: #000;
    }
  }
  @media (min-width: 768px) {
    .body {
      flex-direction: column;
    }
    input {
      width: 110px;
    }
  }
  @media (min-width: 1024px) {
    .body {
      flex-direction: row;
    }
    input {
      width: 100%;
    }
  }
}